<ion-header>
  <ion-toolbar>
    <ion-title>
      My Profile
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Your profile content goes here -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        John Doe
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="assets/img/as02274.png" alt="Profile Picture"></ion-img>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum, purus sit amet faucibus posuere, odio
        odio ullamcorper leo, ac sodales sapien metus ut quam.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
